* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}

main {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction:column;
}



button {
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  padding-bottom: 10px;
}

img {
  padding-top: 20px;
}

.content {
  display: flex;
  
}

.content .left {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
}
.content .left h3 {
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  
}
.content .left p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 60px;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.content .left button {
  background-color: hsl(0, 0%, 95%);
  color: hsl(31, 77%, 52%);
  border-radius: 30px;
  padding: 12px 28px;
  border: 2px solid hsl(0, 0%, 95%);
}
.content .left button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}

.content .center {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
}
.content .center h3 {
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}
.content .center p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 60px;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.content .center button {
  background-color: hsl(0, 0%, 95%);
  color: hsl(184, 100%, 22%);
  border-radius: 30px;
  padding: 12px 28px;
  border: 2px solid hsl(0, 0%, 95%);
}
.content .center button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}

.content .right {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
}
.content .right h3 {
  color: hsl(0, 0%, 95%);
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}
.content .right p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 60px;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}
.content .right button {
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border-radius: 30px;
  padding: 12px 28px;
  border: 2px solid hsl(0, 0%, 95%);
}
.content .right button:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}

